h1{
	text-align:center;
	font-size: 70px;
	color:white;
}
#container{
	background-color:white;
	width: 80%;
	min-height: 50%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	border: 3px solid black;
	border-radius:25px;
}

#quote{
	margin:5em 1em 1em 1em;
	text-shadow: 4px 7px 5px rgba(0,0,0,0.2), 0 8px 20px rgba(0,0,0,0.5);
	font-size:25px;
	font-weight:bold;
}

#author{
	margin:1em 0em 3em 0em;
	text-shadow: 4px 7px 5px rgba(0,0,0,0.2), 0 8px 20px rgba(0,0,0,0.5);
}

#button, #button2{
	float:left;
	margin:2em 0em 0em 2em;
	background-color:white;
	border: 1.5px solid black;
	color: black;
	padding: 1em;
	border-radius:5px;
}

#button:hover, #button2{
background-color: #aaa;
color:white;
transition-duration:0.5s;
}

.share{
  float:left;
  margin-left: 1%;
}

#bgcolor{
	transition-duration:1s;
}