body{
background-image:url("img/business.jpg");
background-size:cover;
margin:0px;
}

/*button*/
.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 5px;
	width: 50%;
	border: 1px solid black;
	text-align: left;
	outline: none;
	font-size: 15px;
	margin:0px;
}

.content {
	max-height:0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
	width:50.8%;
	
}
.active, .collapsible:hover {
	background-color: #555;

}

.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #333;
margin: 1% 0;
transition: 0.4s;
}
.change .bar1 {
transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
opacity: 0;
}
.change .bar3 {
transform: rotate(45deg) translate(-12px, -8px) ;
}

.buttonstyle1{
	width:99%;
	margin:0px;
	background-color:white;
	color:black;
	border:1px solid black;
	padding:0.33%;
	text-align:center;
	text-decoration: none;
	display:block;
	font-size:35px;
}

.buttonstyle1:hover{
	background-color: lightgrey;
}

